OPENAI_API_KEY=your_openai_key
MONGO_URI=mongodb://127.0.0.1:27017/smartreply
PORT=4000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GOOGLE_REDIRECT_URI=http://localhost:4000/auth/google/callback
